<app-navigation></app-navigation>

<div id="config-initial-content" class="container">
    
    <div class="row">
        <div class="col-3">
            <app-applist (configSelectedRequest)="showConfigEntries($event)"></app-applist>
        </div>
        
        <div class="col-9">
            
            <div *ngIf="configEntries">
                <app-config-entry-table [configApplication]="configApplication" [configEntries]="configEntries"></app-config-entry-table>
            </div>
            
            <div *ngIf="!configEntries">
                <app-splash></app-splash>
            </div>
            
        </div>
    </div>
    
</div>