<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Configuration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" #entryForm="ngForm" class="config-form">
        <div class="form-group row">
            <label for="app" class="col-sm-3 col-form-label">Application</label>
            <div class="col-sm-9 config-form-value-group">
                <input id="app" type="text" ngbAutofocus required class="form-control" [(ngModel)]="entry.application" name="application"/>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="key" class="col-sm-3 col-form-label">Key</label>
            <div class="col-sm-9 config-form-value-group">
                <input id="key" type="text" class="form-control" required [(ngModel)]="entry.key" name="key"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="index" class="col-sm-3 col-form-label">Index</label>
            <div class="col-sm-9 config-form-value-group">
                <input id="index" type="text" class="form-control" required [(ngModel)]="entry.index" name="index" pattern="^[0-9]{1,10}"/>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="string" class="col-sm-3 col-form-label">Value (Character)</label>
            <div class="col-sm-9 config-form-value-group">
                <textarea id="string" class="form-control" rows="3" [(ngModel)]="entry.valueString" name="valueString"></textarea>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label">Value (Date)</label>
            <div class="col-sm-9 config-form-value-group">
                <input id="date" type="text" class="form-control" placeholder="JJJJ-MM-DD" [(ngModel)]="entry.valueDate" name="valueDate"/>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="number" class="col-sm-3 col-form-label">Value (Number)</label>
            <div class="col-sm-9 config-form-value-group">
                <input id="number" type="text" class="form-control" [(ngModel)]="entry.valueNumber" name="valueNumber" pattern="^[-+]?[0-9]{1,10},?([0-9]{1,5})?$"/>
            </div>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="submit" class="btn btn-outline-dark" [disabled]="!entryForm.form.valid">Create</button>
        </div>    
    </form>
</div>