<nav class="navbar navbar-default navbar-static-top navbar-expand-md navbar-dark bg-dark" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="assets/configuration.png"/></a>
    </div>
    
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <div class="nav navbar-nav navbar-left">
            <span class="config-application-title">{{title}}</span>
        </div>
        <div class="nav navbar-nav ml-auto">
            <form class="form-inline" role="client">
                <label for="clientSelector">Client:</label>
                <select class="form-control" id="clientSelector">
                    <option *ngFor="let client of clients" value="{{client.id}}" (click)="selectClient(client)">{{client.name}}</option>
                </select>
            </form>
            &nbsp;
            <button type="button" class="btn btn-outline-primary my-2 my-sm-0" title="add application configuration" (click)="showAddConfigDialog()"><span class="far fa-plus-square"></span></button>
            &nbsp;
            <button type="button" class="btn btn-outline-primary my-2 my-sm-0" title="help"><span class="fas fa-question"></span></button>
        </div>
    </div>
</nav>