<table class="table table-bordered table-sm">
    <thead>
        <tr><th scope="col" class="table-secondary"><span>Applications</span><span class="config-refresh-button fas fa-sync-alt float-right" (click)="refresh()" title="reload applications"></span></th></tr>
    </thead>
    <tbody *ngIf="configApps && configApps.length > 0">
        <tr *ngFor="let config of configApps">
            <td (click)="onSelect(config)">
                <span [class.config-applist-entry-selected]="config === selectedConfigApp" class="config-applist-entry">{{config.name}}</span>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="!configApps || configApps.length == 0">
        <tr><td>No application configurations available.</td></tr>
    </tbody>
</table>
