<table class="table table-bordered table-sm">
    <thead class="table-secondary">
        <tr>
            <th class="text-center"><span class="far fa-plus-square" (click)="newEntry()" title="add new configuration entry"></span></th>
            <th>Key</th>
            <th>Index</th>
            <th>Value (char)</th>
            <th>Value (date)</th>
            <th>Value (number)</th>
        </tr>
    </thead>
    
    <tbody *ngIf="configEntries && configEntries.length > 0">
        <tr *ngFor="let entry of configEntries">
            <td class="text-center">
                <span class="config-entry-action far fa-edit" (click)="edit(entry)" title="edit"></span>
                <span class="config-entry-action far fa-trash-alt" (click)="delete(entry)" title="delete"></span>
            </td>
            <td>{{entry.key}}</td>
            <td>{{entry.index}}</td>
            <td>{{entry.valueString}}</td>
            <td>{{entry.valueDate}}</td>
            <td>{{entry.valueNumber}}</td>
        </tr>
    </tbody>
    
    <tbody *ngIf="!configEntries || configEntries.length == 0">
        <tr><td colspan="7" class="text-center">no entries found</td></tr>
    </tbody>
</table>