<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Configuration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" #entryForm="ngForm" class="config-form">
        <div class="form-group row">
            <label for="fieldApp" class="col-sm-3 col-form-label">Application</label>
            <div class="col-sm-9 config-form-value-group">
                <span class="buggati-form-value-readonly">{{entry.application}}</span>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="fieldKey" class="col-sm-3 col-form-label">Key</label>
            <div class="col-sm-9 config-form-value-group">
                <span class="buggati-form-value-readonly">{{entry.key}}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="fieldIndex" class="col-sm-3 col-form-label">Index</label>
            <div class="col-sm-9 config-form-value-group">
                <span class="buggati-form-value-readonly">{{entry.index}}</span>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="fieldString" class="col-sm-3 col-form-label">Value (Character)</label>
            <div class="col-sm-9 config-form-value-group">
                <textarea class="form-control" rows="3" ngbAutofocus [(ngModel)]="entry.valueString" name="valueString"></textarea>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="fieldDate" class="col-sm-3 col-form-label">Value (Date)</label>
            <div class="col-sm-9 config-form-value-group">
                <input type="text" class="form-control" placeholder="JJJJ-MM-DD" [(ngModel)]="entry.valueDate" name="valueDate"/>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="fieldNumber" class="col-sm-3 col-form-label">Value (Number)</label>
            <div class="col-sm-9 config-form-value-group">
                <input type="text" class="form-control" [(ngModel)]="entry.valueNumber" name="valueNumber"/>
            </div>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="submit" class="btn btn-outline-dark" [disabled]="!entryForm.form.valid">Save</button>
        </div>
    </form>
</div>