<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation Dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"><span class="config-confirm-icon far fa-question-circle"></span></div>
            <div class="col-10" style="vertical-align: middle">
                <span>Do you really want to delete this entry?</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="delete()" ngbAutofocus>Delete</button>
</div>