<div class="jumbotron">
    <h1 class="display-6">Configuration</h1>
    <p class="lead">
        Choose a program configuration you want to change or add a new configuration.
    </p>
    <hr class="my-6">
    <p>
        This application lets you manage program configurations. Every ILE
        program can load the configuration via the <em>CONFIG</em> service
        program. The API for the procedures can be viewed at the 
        <a href="http://iledocs.rpgnextgen.com">ILEDocs</a> site.
    </p>
</div>