/* You can add global styles to this file, and also import other style files */

.bugatti-red {
    color: red;
}

.bugatti-form .form-control[readonly] {
    border: 0px;
    background-color: inherit;
}

.bugatti-form input.form-control[readonly] {
    border: 0px;
    background-color: inherit;
    width: 200px;
    flex: none;
}

.bugatti-form .input-group span.fas {
    font-size: 125%;
}

.bugatti-form label {
    color: #495057;
}

.bugatti-form-value-group {
    margin-top: 0.4rem;
}

.buggati-form-value-readonly {
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
}

.bugatti-form-multi-value-entry {
    margin-bottom: 1rem;
}